TicketIncoWsSoap/WebContent/wsdl/anularventaentradaimpl_schema1.xsd

<xs:schema xmlns:tns="http://ws.grupo01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://ws.grupo01/" version="1.0">

  <xs:element name="anularVentaEntrada" type="tns:anularVentaEntrada"/>

  <xs:element name="anularVentaEntradaResponse" type="tns:anularVentaEntradaResponse"/>

  <xs:complexType name="anularVentaEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="espectaculo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="anularVentaEntradaResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
