TicketIncoWsSoap/WebContent/wsdl/confirmarreservaentradasimpl_schema1.xsd

<xs:schema xmlns:tns="http://ws.grupo01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://ws.grupo01/" version="1.0">

  <xs:element name="confirmarReservaVenta" type="tns:confirmarReservaVenta"/>

  <xs:element name="confirmarReservaVentaResponse" type="tns:confirmarReservaVentaResponse"/>

  <xs:complexType name="confirmarReservaVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="confirmarReservaVentaResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
