TicketIncoWsSoap/WebContent/wsdl/reservarentradasimpl_schema1.xsd

<xs:schema xmlns:tns="http://impl.ws.grupo01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://impl.ws.grupo01/" version="1.0">

  <xs:element name="reservarEntradas" type="tns:reservarEntradas"/>

  <xs:element name="reservarEntradasResponse" type="tns:reservarEntradasResponse"/>

  <xs:complexType name="reservarEntradas">
    <xs:sequence>
      <xs:element minOccurs="0" name="espectaculo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reservarEntradasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
