ClientEsbTicket/confirmacionMedioPagoExterno.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.esb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IPagosYaConfirmadorPagosService" targetNamespace="http://ws.esb/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.esb/" elementFormDefault="unqualified" targetNamespace="http://ws.esb/" version="1.0">

  <xs:element name="cancelarPago" type="tns:cancelarPago"/>

  <xs:element name="cancelarPagoResponse" type="tns:cancelarPagoResponse"/>

  <xs:element name="confirmarPago" type="tns:confirmarPago"/>

  <xs:element name="confirmarPagoResponse" type="tns:confirmarPagoResponse"/>

  <xs:element name="requestAnulacionPagosYaData" type="tns:requestAnulacionPagosYaData"/>

  <xs:element name="requestConfirmacionPagosYaData" type="tns:requestConfirmacionPagosYaData"/>

  <xs:element name="responseAnulacionPagosYaData" type="tns:responseAnulacionPagosYaData"/>

  <xs:element name="responseConfirmacionPagosYaData" type="tns:responseConfirmacionPagosYaData"/>

  <xs:complexType name="confirmarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="req" type="tns:requestConfirmacionPagosYaData"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestConfirmacionPagosYaData">
    <xs:sequence>
      <xs:element name="digitoVerif" type="xs:int"/>
      <xs:element minOccurs="0" name="fechaVenc" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="idReserva" type="xs:long"/>
      <xs:element minOccurs="0" name="monto" type="xs:double"/>
      <xs:element minOccurs="0" name="numeroTarjeta" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="confirmarPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:requestConfirmacionPagosYaData"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="idConfirmacionPago" type="tns:requestAnulacionPagosYaData"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestAnulacionPagosYaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idConfirmacionPago" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelarPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:requestAnulacionPagosYaData"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestMedioPagoLocalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="digitoVerif" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaVenc" type="xs:string"/>
      <xs:element minOccurs="0" name="idReserva" type="xs:long"/>
      <xs:element minOccurs="0" name="monto" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroTarjeta" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseAnulacionPagosYaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAnulacionPago" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseConfirmacionPagosYaData">
    <xs:sequence>
      <xs:element name="idConfirmacionPago" type="xs:long"/>
      <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
      <xs:element name="status" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseMedioPagoLocalData">
    <xs:sequence>
      <xs:element name="idConfirmacionPago" type="xs:long"/>
      <xs:element minOccurs="0" name="mensaje" type="xs:string"/>
      <xs:element name="status" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="confirmarPago">
    <wsdl:part element="tns:confirmarPago" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmarPagoResponse">
    <wsdl:part element="tns:confirmarPagoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarPago">
    <wsdl:part element="tns:cancelarPago" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarPagoResponse">
    <wsdl:part element="tns:cancelarPagoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IPagosYaConfirmadorPagos">
    <wsdl:operation name="confirmarPago">
      <wsdl:input message="tns:confirmarPago" name="confirmarPago">
    </wsdl:input>
      <wsdl:output message="tns:confirmarPagoResponse" name="confirmarPagoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarPago">
      <wsdl:input message="tns:cancelarPago" name="cancelarPago">
    </wsdl:input>
      <wsdl:output message="tns:cancelarPagoResponse" name="cancelarPagoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IPagosYaConfirmadorPagosServiceSoapBinding" type="tns:IPagosYaConfirmadorPagos">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="confirmarPago">
      <soap:operation soapAction="confirmarPago" style="document"/>
      <wsdl:input name="confirmarPago">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="confirmarPagoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarPago">
      <soap:operation soapAction="cancelarPago" style="document"/>
      <wsdl:input name="cancelarPago">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarPagoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IPagosYaConfirmadorPagosService">
    <wsdl:port binding="tns:IPagosYaConfirmadorPagosServiceSoapBinding" name="IPagosYaConfirmadorPagosPort">
      <soap:address location="http://localhost:8081/confirmacionMedioPagoExterno"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>